[submodule "libft"]
	path = lib/libft
	url = https://github.com/f-ras-42Cursus/libft
[submodule "ft_printf"]
	path = lib/ft_printf
	url = https://github.com/f-ras-42Cursus/ft_printf
[submodule "get_next_line"]
	path = lib/get_next_line
	url = https://github.com/f-ras-42Cursus/get_next_line
